body {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-family: "Source Code Pro", monospace;

    
    margin: auto;
    text-align: left;
    background: #7c9e4f;
    background: linear-gradient(90deg,rgba(124, 158, 79, 1) 
    0%, rgba(137, 199, 87, 1) 16%, rgba(196, 224, 130, 1) 71%);
  }

main {
    background-color: rgb(255, 249, 186);
    font-family: "Source Code Pro", monospace;
    min-height: 400px;
}

a {
  color: inherit;
}


/*banner img animation attempt */


.layingcat {


  position: absolute;

  margin-top: -50px;
  margin-left: 250px;

  height: 250px;
  width: 300px;
  
  animation: falldown 2s ease-in;
  transition: transform 0.4s ease-in-out;
}


.layingcat:hover {
  transform: scale(1.2); /* grows by 150% */
}





.cat2 {

  border-radius: 8px;
  position: absolute;

  margin-left: 10%;

  height: 150px;
  width: 150px;
  
  animation: comeup 2s ease-in forwards;
  transition: transform 0.4s ease-in-out;
}


.cat2:hover {
  transform: scale(1.2); /* grows by 150% */
}



.cat3 {

  border-radius: 8px;
  position: absolute;

  margin-left: 80%;
  margin-right: 20%;

  height: 150px;
  width: 150px;
  
  animation: comeup 2s ease-in forwards;
  transition: transform 0.4s ease-in-out;
}


.cat3:hover {
  transform: scale(1.2); /* grows by 150% */
}

/* banner styling */


@keyframes falldown {
  from {
    position: absolute;
    top: -250px;
  }
  to {
    position: absolute;
    top: 20px;
  }
}


@keyframes comeup {
  from {
    position: absolute;
    bottom: -250px;
  }
  to {
    position: absolute;
    bottom: 0%;
  }
}


#banner {
  background: #7c9e4f;
  background: linear-gradient(90deg,rgba(124, 158, 79, 1) 0%,
   rgba(137, 199, 87, 1) 16%, rgba(196, 224, 130, 1) 71%);

  color: rgb(123, 183, 102);
  /*font-family: "Abril Fatface", serif; */
  font-weight: 400;

  /*max-height: 250px; */
  max-width: 100%;
  display: block;
}


#banner header{
  display: flex;
  flex-direction: row;
  gap: 40px;   /* navigation items spacing */
  margin: auto 30px; /*text space*/
  /* justify-content: space-around; */
}

#banner header h1 {
  font-size: 1.5em;
  margin-top: 200px;
  color: white;
  text-decoration: none;
}

#banner header :hover {
  color: rgb(135, 108, 71);;
}

.push-right {
  margin-left: auto; /* pushes this item all the way to the right side */
  font-size: .75rem;
}








.collapsible_table {
    display: grid;
    place-items: center;     
    min-height: 400px;

   /* font-family: "Abril Fatface", serif; */
    font-weight: 400;
    color: rgb(135, 108, 71);

  }



.collapsible_table table {
    background-color: rgb(135, 108, 71);
    min-height: 200px;
    min-width: 400px;
  }



  .collapsible_table table thead tr th{
    text-align: center;

    width: 160px;
    color: white;
    background-color: rgb(123, 183, 102);

  }


  .collapsible_table table tr {
    background-color: rgb(255, 255, 255);
  }

  .collapsible_table table tr td a {
    margin-left: 20px;
    text-align: left
  }

  li {
    list-style-type: none;
  }













footer {
    /*height: 50px; */
    padding-top: 20px;
    text-align: center;
    
    background: #7c9e4f;
    background: linear-gradient(90deg,rgba(124, 158, 79, 1) 
    0%, rgba(137, 199, 87, 1) 16%, rgba(196, 224, 130, 1) 71%);

    color: white;
 
}






  