body {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-family: "Source Code Pro", monospace;

    max-width: 1200px;
    margin: auto;
    text-align: left;
    background-color: black;
}

main {
    background-color: rgb(255, 249, 186);
    max-height: 400px;
 
}




/*banner img animation attempt */


.pop-image {
  width: 300px;
  height: auto;
  border-radius: 8px;
  
  /* initial size of graphic */
  transform: scale(1); 
  

  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.pop-image:hover {
  transform: scale(1.5); /* grows by 150% */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* drop shadow */
}



/* banner styling */


#banner {
  background-color: rgb(123, 183, 102);
  color: rgb(123, 183, 102);
  font-family: "Abril Fatface", serif;
  font-weight: 400;

  max-height: 250px;
  max-width: 100%;
  display: block;
}

#banner img {

  position: absolute;
  top: 40px;
  margin-left: 550px;

  height: 150px;
  width: 150px;
  /*background-color: aliceblue; */
}


#banner header{
  display: flex;
  flex-direction: row;
  gap: 40px;   /* navigation items spacing */
  margin: auto 30px; /*text space*/
  /* justify-content: space-around; */
}

#banner header h1 {
  font-size: 2.5em;
  margin-top: 200px;
  color: white;
  text-decoration: none;
}

.push-right {
  margin-left: auto; /* pushes this item all the way to the right side */
}








.collapsible_table {
    display: grid;
    place-items: center;     
    min-height: 400px;

    font-family: "Abril Fatface", serif;
    font-weight: 400;
    color: rgb(135, 108, 71);;
  }



.collapsible_table table {
    background-color: rgb(135, 108, 71);
    min-height: 200px;
    min-width: 400px;
  }

  .collapsible_table table thead tr th{
    text-align: center;

    width: 160px;
    color: white;
    background-color: rgb(123, 183, 102);

  }


  .collapsible_table table tr {
    background-color: rgb(255, 255, 255);
  }

  .collapsible_table table tr td p {
    margin-left: 20px;
    text-align: left
  }















footer {
    height: 50px;
    text-align: center;
    
    background-color: rgb(123, 183, 102);
    color: white;
 
}






  